@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "ABC Ginto Normal", Whitney, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    height: 100vh;
  }

  body {
    height: 100%;
  }

  #root {
    height: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1f2123 inset;
}

.form-input:-webkit-autofill {
  -webkit-text-fill-color: #dddedf !important;
}

.mp-btn:hover .tooltip {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
